<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Measurement precision</title>
</head>
<body>
<p>From: {{from}}
<p/>
<p>To: {{to}}
<p/>
<p>Forecast precision:
<p/>
<p>{{message}}</p>
<table border="1">
    {% for k,v in precision.iteritems %}
    <tr>
        <td>&nbsp;{{k}}&nbsp;</td>
        <td>&nbsp;{{v}}&nbsp;</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>