<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Measurements</title>
</head>
<body>
<p>From: {{from}}
<p/>
<p>To: {{to}}
<p/>
<table border="1">
    <thead>
    <tr>
        <th>Měření</th>
        <th>Teplota</th>
        <th>Tlak</th>
        <th>Ozone</th>
        <th>Vítr</th>
    </tr>
    </thead>
    {% for m in measurements %}
    <tr>
        <td>{{m.time}}</td>
        <td>{{m.temperature}}</td>
        <td>{{m.pressure}}</td>
        <td>{{m.ozone}}</td>
        <td>{{m.windSpeed}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table border="1">
    <thead>
    <tr>
        <th>Předpověď</th>
        <th>Teplota</th>
        <th>Tlak</th>
        <th>Ozone</th>
        <th>Vítr</th>
    </tr>
    </thead>
    {% for f in forecast %}
    <tr>
        <td>{{f.time}}</td>
        <td>{{f.temperature}}</td>
        <td>{{f.pressure}}</td>
        <td>{{f.ozone}}</td>
        <td>{{f.windSpeed}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
